.nav-container {
    float: left;
    width: 100%;
    background: #73DCFF;
    /*box-shadow: 0px 0px 2px 2px #efefef;*/
}

.pt_custommenu {
    position:relative;
    z-index:9;
    font-size: 12px;
    width:  100%; /*width of your menu*/
    float:left;
}
.pt_custommenu div.pt_menu {
    float: left;
}

.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
    text-decoration: none;
    display:block;
    padding:0 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 46px;
    font-size: 14px;
}
#pt_menu_pt_item_menu_custom_menu:hover span {color:#fff;}

.pt_custommenu .act span {color:#fff;}

.pt_custommenu .active span {color:#fff;}
.pt_custommenu #pt_menu_home .parentMenu a { }
.pt_custommenu #popup_pt_item_menu_custom_menu { width:680px !important; line-height:20px;}
.pt_custommenu #popup_pt_item_menu_custom_menu .img-custum {margin-right:10px; float:left;}
.pt_custommenu #popup_pt_item_menu_custom_menu .static_block_custom_menu {text-align:left;}
.pt_custommenu #popup_pt_item_menu_custom_menu .static_block_custom_menu {   color:#fff;}
#popup_pt_item_menu_custom_menu .static_block_custom_menu p {color:#fff;}
#popup_pt_item_menu_custom_menu .static_block_custom_menu img {border:3px solid #fff;  margin-bottom:10px;}
#pt_menu_pt_item_menu_custom_menu .parentMenu {height:46px; }

div.popup {
    position:absolute;
    z-index:3000;
    display: none;
    text-align:left;
}
div.pt_menu, div.popup {
    padding: 25px 20px 25px;
}
div.pt_menu {
    float: left;
    padding: 0 !important;
}
div.pt_menu a, div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}

.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}
.itemSubMenu h4.level4,
.itemSubMenu a.level4 {
    color: #fff;
    padding-left: 10px;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}
.itemSubMenu a.itemMenuName {background:url(img/icon_menu.png) 0 no-repeat;}
div.popup a.actParent {
    color: #4D4D4D;
}
div.popup a.act {
    color: #A52A2A !important;
}

div.column {
    float:left;
    width:185px; /* column width */
    margin-right: 10px;
    padding: 0 10px;
    }
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu {

}
.clearBoth {
    clear:both;
}
.block2{
   /* margin-top: 10px;*/
}
#popup_home{
    display: none !important;
}
div.popup .block1{
    overflow: hidden;
    /*display: inline-block;*/
    float: left;
    /*clear:both;*/
}
div.popup .block1:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
div.popup .floatleft{
    float: left;
}
div.popup .block1.floatleft{
    /*width: 650px;*/
}
div.popup .block2.floatleft{
    /*width: 250px;*/
}
div.popup .blockright img{
    max-width: 100%;
}
#popup3 .block2 {clear:both; width:850px; padding-top:20px;}
#popup3 .block2 p {color:#fff;}
.parentMenu .block-title{
    color: #1E7EC8;
    height: 32px;
    line-height: 32px;
}

div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}
.cmsblock { width: 97% !important;}
.block2{
    color: #888;
}
.des-title { color: #666; text-transform: uppercase; font-weight: normal; font-family: CaviarDreams; font-size: 24px; padding-bottom: 10px; text-align: left;}
.static-menu-img {
    float: left;
}

.custom-menu-bottom img { width: 99%;}

#popup5 .blockright {padding:3px 0 0 20px;}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */

.ma-nav-mobile-container { clear: both; display: inline-block;}
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    height: auto;
    display: none;
    float: left;
    width: 100%;
}

.nav-collapse, .nav-collapse.collapse {

}
.navbar-inner {
    background:#fff;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0;
    
}
.menu-mobile {
    float: left;
    width: 96%;
    padding: 5px 2%;
    margin: 0;
    border-radius: 2px;
}
.navbar .btn-navbar {
    margin-top: 7px;
    border: 0 !important;
    box-shadow: none !important;
    background: url("../images/bg-menu-mobile.png") no-repeat 50% 50%;
}
.navbar .btn-navbar:hover {background:url("../images/bg-menu-mobile.png") no-repeat 50% 50% !important; font-family: 'helvetica';}
.navbar .btn-navbar .icon-bar {
    box-shadow:none !important;
    border-radius:0 !important;
    background-color:inherit !important;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    text-transform: capitalize;
    font-family: OleoScriptSwashCapsRegular;
    font-weight:normal;
    text-shadow: none;
    font-size:30px;
}
.mobilemenu {
 list-style-type: none;
 padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
 padding: 0;
 margin: 0;
 float: left;
 display: block;
 width: 100%;
}
.mobilemenu li {
    background: #faf8f8;
 cursor: pointer;
 list-style-type: none;
 padding: 0;
 margin: 0;
 float: left;
 display: block;
 width: 100%;
 position: relative;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
 /*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
 padding: 20px;
 background: #aef;
 display: block;
 clear: both;
 float: left;
 width: 360px;
}
.mobilemenu a {
 text-decoration: none;
 border-bottom: 1px solid #e0d8d8;
 /*font: bold 1.1em/2em Arial, sans-serif;*/
 font-size: 16px;
 line-height: 40px;
 font-weight: normal;
 color: #666;
 margin: 0 15px;
 font-family: 'helvetica';
 display: block;
 text-transform: capitalize;
 cursor: pointer;
}
.mobilemenu li.active a, .mobilemenu a:hover {
	color: #e84c3d;
}

.mobilemenu ul a {
	color: #666 !important;
}
.mobilemenu ul a:hover, .mobilemenu ul li.active a {
	color: #e84c3d !important;
}

.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	color: #666 !important;
}
.mobilemenu ul ul a:hover, .mobilemenu ul ul li.active a, .mobilemenu ul li.active ul a:hover {
	color: #e84c3d !important;
}

.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #666 !important;
}
.mobilemenu ul ul ul a:hover, .mobilemenu ul ul ul li.active a, .mobilemenu ul ul li.active ul a:hover {
	color: #e84c3d !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #666 !important;
}
.mobilemenu ul ul ul ul a:hover, .mobilemenu ul ul ul ul li.active a, .mobilemenu ul ul ul li.active ul a:hover {
	color: #e84c3d !important;
}



.mobilemenu li.parent>a {
	/*background: url('../images/open.gif') no-repeat center right;*/
}

.mobilemenu li ul li {
    font-size: 0.9em;
}
.mobilemenu li.active>ul {

}

.mobilemenu ul a {
	padding-left: 25px;
}
.mobilemenu ul ul a {
	padding-left: 40px;
}
.mobilemenu ul ul ul a {
	padding-left: 55px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 70px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 8px;
	right: 8px;
}
.mobilemenu span.head a { 
	color:#333333;
	display:block;
	height:15px;
	padding:0;
	width:15px;
	border: 0;
}
.mobilemenu span.CLOSE a { background: url(../images/menu_down.png) no-repeat 50% 50%; }
.mobilemenu span.OPEN a {  background: url(../images/menu_up.png) no-repeat 50% 50%;}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}

/*************************************************************************/
/******************************** nivo-slider ****************************/

.item-inner{
    background: #EEEEEE;
}
.item-inner a img{
    width: 250px;
    min-height: 230px;
}
#gallery_01 a img{
    width: 100px;
    height: 100px;
}

.nav-tabs>li>a{
    font-size: 16px;
}