# Created by .ignore support plugin (selim)
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env
.idea
vendor/
.idea/
.idea/workspace.xml

config/database.php

composer.lock

public/uploads
app/modules/user/logs/
app/modules/accounts/logs/
